<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>

  {{- partial "header.html" . -}}

  <main class="container">

    <div class="faqs-page text-with-links">
      <h1>{{ .Title }}</h1>

      <div class="content">
        {{ .Content }}
      </div>

      {{ $headless := .Site.GetPage "/faqs" }}
      {{ $reusablePages := $headless.Resources }}

      <ul class="faqs-menu">
        {{ range $reusablePages }}
        <li>
          <a class="faqs-menu__link" href="#{{ .Param "key" }}">
            {{ .Title }}
          </a>
        </li>
        {{- end -}}
      </ul>


      <div class="faqs">

        {{ range $reusablePages }}

        <h2 id="{{ .Param "key" }}" class="faqs__heading">{{ .Title }}</h2>

        <div class="faqs__faq">
          {{ .Content }}
        </div>

        {{- end -}}
      </div>
    </main>

  </div>

  {{- partial "footer.html" . -}}
</body>

</html>
