@import "./variables/variables";

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  background: $background;
}

code {
  font-family: 'Consolas', 'Source Code Pro', 'Courier New', Courier, monospace;
}

// h2's
.subheading {
  font-size: 2rem;
  text-align: center;
}

.text-with-links {
  a {
    color: $pink;
    font-weight: 700;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline; 
    }
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  table {
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid $grey-light;
    padding: 0.5rem 1rem;
  }

  pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    max-width: 40rem;
  }
}

@import "./components/components.scss";
