@import "./variables/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}


@import "./components/components.scss";
