@import "./variables/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

// h2's
.subheading {
  font-size: 2rem;
  text-align: center;
}

@import "./components/components.scss";
