$pink: #FF00C7;
$red: #FF004D;
$aubergine: #332263;
$light-aubergine: #502D89;
$lavender: #8156C8;
$blue: #00D1FF;
$green: #00FFB2;

$grey-dark: #232027;
$grey-medium: #696271;
$grey-light: #F5F4F6;

$black: #000;
$white: #fff;


@mixin rwd-md-up() {
  @media (min-width: 640px) {
    @content;
  }
}


@mixin rwd-lg-up() {
  @media (min-width: 960px) {
    @content;
  }
}

