.footer {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 200px;
  
  @include rwd-md-up {
    height: 400px;
  }
}

.footer__gradient {
  transform: rotate(180deg);
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  z-index: -1;
  
  @include rwd-md-up {
    top: 0;
    height: 400px;
  }
}

.footer__links {
  text-align: center;
  padding: 40px 0;

  @include rwd-md-up {
    padding: 0;
  }
}

.footer__link {
  color: $white;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 1rem;
}
