<div class="basic-header">
  <div class="container">
    <header class="site-header">
      <div class="site-header__logo-layout">
        <img src="/images/trackrrr-logo.svg" alt="Trackrrr logo">
        <h1 class="site-header__title">Trackrrr</h1>
      </div>
      
      <nav class="site-header__nav">
        <a class="site-header__link" href="/#features">Features</a>
        <a class="site-header__link" href="/faqs">FAQ</a>
        <a class="site-header__link" href="/privacy-policy">Privacy</a>
        <a class="site-header__link btn-primary" href="/#download">Download</a>
      </nav>
    </header>
  </div>
</div>
