<head>
  <title>Trackrrr &ndash; a privacy-first period tracker for people who have periods</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="theme-color" content="#332263" />
  <meta name="description" content="Trackrrr is a privacy-first period tracker with a neutral theme. Your period data doesn't leave your phone." />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  {{ $sass := resources.Get "sass/main.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="shortcut icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="apple-touch-icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="icon" sizes="192x192" type="image/svg" href="/images/favicon.svg"/>
  <meta property="og:image" content="/images/favicon.svg" />
  <meta property="twitter:image" content="/images/favicon.svg" />
  <meta name="twitter:card" content="summary_large_image" />
</head>
