<div class="hero-banner">
  <img class="hero-banner__gradient" src="/images/hero-background@3x.png" alt="Background linear gradient" />

  <div class="container">

    <header class="site-header">
      <div class="site-header__logo-layout">
        <img src="/images/trackrrr-logo.svg" alt="Trackrrr logo">

        <h1 class="site-header__title">Trackrrr</h1>
      </div>
      
      <nav class="site-header__nav">
        <a class="site-header__link" href="#features">Features</a>
        <a class="site-header__link" href="/faqs">FAQ</a>
        <a class="site-header__link btn-primary" href="#download">Download</a>
      </nav>
    </header>

  </div>

  <div class="container">
    <div class="hero-banner__layout">
      <div class="hero-banner__text">
        <strong>Trackrrr</strong> is a period tracker with privacy and inclusivity in mind.
      </div>

      <img class="hero-banner__phone" src="/images/pixel-4.svg" alt="Pixel 4 rendering">
    </div>
  </div>
</div>
